<?xml version = "1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <shubo_tbc>
                <active>0</active>
                <title>TBC Bank (Card Payment)</title>
                <model>ShuboTbcPaymentFacade</model>
                <order_status>pending_payment</order_status>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sandbox_mode>1</sandbox_mode>
                <debug>0</debug>
                <api_url>https://pay.flitt.com</api_url>
                <sandbox_api_url>https://pay.flitt.com</sandbox_api_url>
                <sort_order>10</sort_order>
                <split_payments_enabled>0</split_payments_enabled>
                <split_auto_settle>0</split_auto_settle>
                <split_receivers></split_receivers>
                <embed_theme_type>light</embed_theme_type>
                <embed_theme_preset>reset</embed_theme_preset>
                <embed_layout>default</embed_layout>
                <embed_options_json></embed_options_json>
                <enable_wallets>0</enable_wallets>
                <payment_action_mode>authorize</payment_action_mode>
                <payment_lifetime>3600</payment_lifetime>
                <checkout_type>embed</checkout_type>
                <brand_logo_url></brand_logo_url>
                <brand_description></brand_description>
                <brand_accent_color></brand_accent_color>
                <brand_strip_provider>0</brand_strip_provider>
            </shubo_tbc>
        </payment>
    </default>
</config>
