<?xml version = "1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="shubo_tbc" frontName="shubo_tbc">
            <module name="Shubo_TbcPayment"/>
        </route>
    </router>
</config>
