<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="shubo_tbc" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>TBC Bank (Flitt Embed)</label>
                <comment><![CDATA[Accept card payments via TBC Bank using Flitt Embed SDK.]]></comment>

                <field id="active" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="merchant_id" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant ID</label>
                    <comment>Your Flitt merchant ID.</comment>
                </field>

                <field id="password" translate="label comment" type="obscure" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password (Secret Key)</label>
                    <comment>Your Flitt payment password / secret key.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="sandbox_mode" translate="label" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="sandbox_api_url" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sandbox API URL</label>
                    <depends>
                        <field id="sandbox_mode">1</field>
                    </depends>
                </field>

                <field id="api_url" translate="label" type="text" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Production API URL</label>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="100"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>

                <field id="split_payments_enabled" translate="label comment" type="select" sortOrder="110"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Split Payments</label>
                    <comment>Allow splitting payments across multiple merchants.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
